@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outerDiv {
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.centerDiv {
  background-color: azure;
  min-width: 30%;
  /* height: 50%; */
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.centerDiv h2 {
  font-size: 2.5em;
  background-color: blueviolet;
  color: white;
  padding: 3px;

}

.itemAdd {
  display: flex;
  flex-direction: row;
}

.itemAdd input {
  width: 80%;
  height: 2vw;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

.additionButton {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  font-size: 2em;
  border: none;
  background-color: rgb(255, 199, 199);
  color: rgb(255, 255, 255);
}

.mainArea ol li {
  list-style: none;
}